extends index.pug

block scripts

block content
  .page
    h1 Immediate Feedback Assessment Tool (IF-AT)
    p Immediate feedback assessment is a key element of Team-Based Learning (TBL) as in the work of #[em Michaelsen & Sweet] (2008).
    p TBL has two phases:
    ol
      li #[strong Readiness assurance process] (RAP)
        ul
          li Individual readiness assurance test (iRAT) where students take a (differentiated) multiple choice test on the topic to be studied, which is then marked by their teacher;
          li Team readiness assurance test (tRAT) where teams of students retake the same test, reaching consensus on their choices and receiving immediate feedback e.g. through 'scratchy' cards;
      li #[strong Application exercises], where all teams work on the same, signicant problems before simultaneously reporting their specific choice.
    p The use of IF-AT is key to the tRAT. This tool provides a digital alternative to the use of the scratchy paper IF-AT cards which can be hard to source. Additionally, it can be used to record and mark the iRAT.
    h2 Goals of IF-AT web app
    ul
      li Provide immediate feedback to teams of students in multiple choice tests. Existing digital tools either focus on individual students or delayed feedback.
      li Design that minimises distraction from team discussion (e.g. stimulus, questions printed and working out done on paper rather than on a shared device).
    h2 Web app credits
    p Designed and written by 
      a(href="mailto:andrew@kerr.id.au?Subject=Immediate Feedback Assessment Tool") Andrew Kerr
  .colophon
    p Copyright (c) 2017 Andrew Kerr. MIT License.
    p Built using Gomix, Node.js, jQuery, Pug and lowdb.