extends index.pug

block style
      link(rel="stylesheet" href="/login.css")

block scripts

block content
  if error
    .message #{error}
  #login
    form(action="/join" method="get")
      input#name(name="name" maxlength="50" placeholder="Enter names")
      input#code(name="code" maxlength="4" autocapitalize="off" autocorrect="off" autocomplete="off" spellcheck="false" placeholder="code")
      #join
        button Start
  #instructions Enter the names of all your team members and the class code.