<!DOCTYPE html>
<html>
<head>
  <title>IF-AT Administration</title>
	<meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <div id="results" class="page"></div>
  
  <div id="create" class="page">
    <form id="new" method="post">
      <span>Enter answer key:</span>
      <input id="key" name="key" autocapitalize="off" autocorrect="off" autocomplete="off" />
      <button class="disabled">Begin</button>
    </form>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src="/teacher.js"></script>
  
</body>
</html>