#quiz {
  padding: 2em 1em;
}

table {
	margin: 0 auto;
}

tr:nth-child(even) {
  background-color: #eee;
}

tr:last-child td:first-child {
  border-radius: 0 0 0 0.5em;
}

tr:last-child td:last-child {
  border-radius: 0 0 0.5em 0;
}

td {
	position: relative;
	text-align: center;
	font-weight: bold;
	width: 2em;
	text-shadow: 0 0 0 white;
	transition: text-shadow 1s ease-in;
}

.question {
	color: #999;
	text-align: right;
	font-weight: 100;
  padding-right: 0.5em;
}

tr:nth-child(even) .question {
  color: #fff;
	text-shadow: 0 0 5px #999;
}

.selected,
.confirmed {
  transition: all 0.5s ease;
  color: white;
}

.selected {
  background-color: #999;
}

.confirmed {
  background-color: #3cf;
}

.message {
  background-color: #4d6;
  color: white;
}