#quiz {
  padding: 3em 1em 1em;
}

table {
	margin: 0 auto;
}

tr:nth-child(even) {
  background-color: #eee;
}

tr:first-child td:last-child {
  border-radius: 0 0.5em 0 0;
}

tr:last-child td:last-child {
  border-radius: 0 0 0.5em 0;
}

td {
	position: relative;
	text-align: center;
	font-weight: bold;
	width: 2em;
	text-shadow: 0 0 0 white;
	transition: text-shadow 1s ease-in;
}

.question {
	color: #999;
	text-align: right;
	font-weight: normal;
  padding-right: 0.5em;
}

tr:nth-child(even) .question {
  color: #fff;
	text-shadow: 0 0 5px #999;
}

.confirmed {
  transition: background-color 0.5s ease;
}

tr:last-child td:last-child.selected {
  border-radius: 0;
}

.selected:before {
  content: 'Sure?';
  position: absolute;
  display: block;
  top: 4em;
  right: 0;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  border-radius: 0.5em 0 0.5em 0.5em;
  background-color: white;
  padding: 0.5em;
  font-size: 50%;
  font-style: italic;
  line-height: 1em;
  font-weight: normal;
  z-index: 5;
}

.selected {
  background-color: #ccc;
  animation: pulse 0.5s infinite alternate;
}

@keyframes pulse {
  from { background-color: inherit; }
  to { background-color: initial; }
}

.confirmed {
  background-color: #3cf;
  color: white;
}

.message {
  background-color: white;
  color: #ccc;
  transition: background-color 1s ease;
}

.progress {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #3cf;
  height: 0.25em;
  width: 0%;
  transition: width 1s ease;
  z-index: 20;
}

.complete {
  background-color: #4d6;
  color: white;
  padding: 0.25em;
}

#instructions {
  margin: 0 auto 1.5em;
  max-width: 10em;
  line-height: 1.5;
  color: #ccc;
}