#results {
  height: 100%;
  width: 100%;
  overflow-x: auto;
}

table {
  font-size: 40%;
  margin: 2.5em;
}

thead {
  position: sticky;
}

th,
td {
  padding: 1em;
}

td {
  border-bottom: 0.2em solid white;
}

tr:last-child td {
  border-bottom: 0;
}

th {
	font-weight: bold;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.message {
  position: relative;
  width: auto;
  padding: 0.25em;
  background-color: #07f;
  color: white;
}

.message strong {
  border: 0.1em solid white;
  border-radius: 0.25em;
  padding: 0 0.25em;
}

.message a {
  color: white;
}

.red {
  background-color: #f33;
  color: white;
}

.orange {
  background-color: #f90;
  color: white;
}

.yellow {
  background-color: #fc0;
  color: white;
}

.green {
  background-color: #4d6;
  color: white;
}

.blue {
  background-color: #3cf;
  color: white;
}

.gray {
  background-color: #ddd;
  color: white;
}

.view {
  background-color: #3cf;
  color: #3cf;
}

.view.gray {
  background-color: #eee;
  color: #eee;
}

.complete:before {
  content:  "\2713\ ";
  color: white;
}

#options {
  display: flex;
	flex-flow: row wrap;
  margin: 0 1em;
}

button,
.button,
input[type="checkbox"] + label {
  flex: 0 0 auto;
  font-size: 60%;
  margin: 1.5em 1.5em 0 0;
  padding: 0.25em 0.5em;
}

#instructions {
  margin: 0 1.5em 1.5em;
  line-height: 1.5;
  color: #ccc;
  font-size: 60%;
}