body {
	font-family: sans-serif;	
}

.page {
	padding: 100px 50px;
}

#session,
#names {
  position: absolute;
  text-align: center;
  top: 30%;
}

#quiz > table, label, input, button, span, .message {
	font-size: 50px;
}

table {
	margin: 0 auto;
	border-spacing: 0;
	border-collapse: separate;
  white-space: nowrap;
}

tr {
	height: 2em;
}

tr:nth-child(even) {
  background-color: #ddd;
}

tr:nth-child(even) td:first-child {
	border-radius: 10px 0 0 10px;
}

tr:nth-child(even) td:last-child {
	border-radius: 0 10px 10px 0;
}

td {
	position: relative;
	text-align: center;
	font-weight: bold;
	width: 2em;
	text-shadow: 0 0 0 white;
	transition: text-shadow 1s ease-in;
}

.message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 50px rgba(0,0,0,0.2);
  z-index: 1000;
}

.red {
  background-color: #fcc;
}

.green {
  background-color: #cfc;
}

.blue {
  background-color: #cef;
}

.question {
	color: #999;
	text-align: right;
	font-weight: 100;
  padding-right: 0.5em;
}

tr:nth-child(even) .question {
  color: #fff;
	text-shadow: 0 0 5px #999;
}

input {
	position: relative;
	margin-right: 10px;
	border-radius: 10px;
	border: 1px solid #999;
	padding: 10px;
	outline: none;
}

input:focus {
	box-shadow: 0 0 10px #3cf;
}

button {
	position: relative;
  top: -3px;
	color: #fff;
	background: #3cf;
	text-align: center;
	padding: 20px;
	line-height: 36px;
	min-width: 5em;
	border-radius: 10px;
	box-shadow: 0px 5px #09c;
	border: 0;
}

button:disabled {
	background-color: #999;
	box-shadow: 0px 5px #666;
}

button:active {
	box-shadow: none;
	top: 5px;
}